In [8]:
import os
print(os.getcwd())

/Users/minhtruong/Documents/GitHub/data

In [9]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

# Create a simple DataFrame
data = [("Alice", 1), ("Bob", 2), ("Cathy", 3)]
df = spark.createDataFrame(data, ["name", "id"])

# Show the DataFrame
df.show()

# Save the table
df.write.mode("overwrite").parquet("output_table.parquet")

spark.stop()

+-----+---+
| name| id|
+-----+---+
|Alice|  1|
|  Bob|  2|
|Cathy|  3|
+-----+---+